@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family:
		'PingFang SC', 'Microsoft YaHei', 'Noto Sans SC', 'Source Han Sans CN',
		-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
	font-weight: 500;
}
